<strong>Seja bem vindo {{ name }}</strong>

<p>Acesse <a href="www.filhosdapistakart.com.br">nosso site</a> e complete seu cadastro</p>

<p>Login: {{ email }}</p>
<p>Senha: fdp@123</p>

<p>É um prazer ter você conosco! Boa corrida e #GOFDP</p>

<p>Atenciosamente</p>

<p>Equipe dos Filhos da Pista Karting Racing</p>